<div class="ngz-carousel-container" [ngClass]="{'show-prev-next-buttons': showPrevNextButtons}">
  <div class="prev" (click)="prev()"><</div>
  <div class="ngz-carousel-viewport" #carouselViewPort>
    <div class="ngz-carousel-content" #carouselContent (panmove)="onPan($event)" (swipeleft)="next()" (swiperight)="prev()">
      <div class="ngz-carousel-selector transition" *ngFor="let item of carouselItems; let i = index">
        <!--<ng-container *ngTemplateOutlet="item.tpl; context: {$implicit: items.length > i && items[i]}"></ng-container>-->
        <ng-container *ngTemplateOutlet="item.tpl; context: {$implicit: items.length > i && items[i]}"></ng-container>
      </div>
    </div>
  </div>
  <div class="next" (click)="next()">></div>
</div>
